@model GameIndexViewModel

@if (Model.UserGamesInProgress.Count != 0)
{
    <div class="row">
        <h2>Games in progress</h2>

        @await Html.PartialAsync("_GameListPartial", Model.UserGamesInProgress.ToList())
    </div>
}
    
@if (Model.UserJoinedGames.Count != 0)
{
    <div class="row">
        <h2>Joined games</h2>
        @await Html.PartialAsync("_GameListPartial", Model.UserJoinedGames.ToList())
    </div>
}

@if (Model.AvailableGames.Count != 0)
{
    <div class="row">
        <h2>Available Games</h2>
        @await Html.PartialAsync("_GameListPartial", Model.AvailableGames.ToList())
    </div>
}