
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Settings - choose  your background color</h2>

<input type="color" name="favcolor" value="#ff0000" id="chooseColor" />
<input type="submit" id="chooseColorButton" />

@section Scripts
{
    <script src="~/js/site.js"></script>
}

