@model CreateGameBindingModel

<div class="row">
    <div class="form-group col-md-4">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group col-md-4 ">
        <label asp-for="Visibility">Game Type</label>
        @Html.DropDownListFor(v => v.Visibility,
            Html.GetEnumSelectList(typeof(VisibilityType)),
            new { @class = "visibility-type form-control" })
        <span asp-validation-for="Visibility" class="text-danger" />
    </div>

    <div class="form-group col-md-4 gamePassword" style="@(Model.Visibility != VisibilityType.Protected ? "display:none;" : "display:block;" )">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
</div>