@using TicTacToeWeb.Pages
@model FeedbackModel

<div class="row">
    <div class="form-group col-md-4">
        <label asp-for="Subject"></label>
        <input asp-for="Subject" class="form-control" />
        <span asp-validation-for="Subject" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-4">
        <label asp-for="Content"></label>
        <input asp-for="Content" class="form-control" />
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
</div>

