@page
@model TicTacToeWeb.Pages.UsersModel
@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 style="margin-top:65px">About</h2>
<h4><b>Tic-tac-toe</b> (also known as noughts and crosses or Xs and Os) is a paper-and-pencil game for two players, X and O, who take turns marking the spaces in a 3×3 grid. The player who succeeds in placing three of their marks in a horizontal, vertical, or diagonal row wins the game. </h4>

<br /><br />
<h2>Points</h2>

<h4>Won = 100 points</h4>
<h4>Won = 30 points</h4>
<h4>Lost = 15 points</h4>
<br/>
<h4>*Only top 10 players will be shown in the <b>Scores</b> page</h4>


